<template>
	<div class="container">
		<div class="mt-3 float-right">
			<b-button
				variant="success"
				id="show-btn"
				@click="$bvModal.show('update-profile-model')"
				>Edit</b-button
			>

			<b-modal id="update-profile-model" hide-footer>
				<template #modal-title>
					Edit Profile
				</template>
				<b-form >
				
					<div class="d-block ">
						<div
							v-if="currentModuleIndex == 1"
							class="p-4"
							v-bind:style="styleObject"
						>
							<h3 class="mb-3 ">Personal Infomation</h3>
							<b-form-group id="fname" label="First Name" label-for="fname">
								<b-form-input
									id="fname"
									v-model="user.data.fname"
									type="text"
									placeholder="Enter first name"
								></b-form-input>
							</b-form-group>
							<b-form-group id="lname" label="Last Name" label-for="lname">
								<b-form-input
									id="lname"
									v-model="user.data.lname"
									type="text"
									placeholder="Enter last name"
								></b-form-input>
							</b-form-group>

							<b-form-group label="Gender" v-slot="{ ariaDescribedby }">
								<b-form-radio
									v-model="user.data.gender"
									:aria-describedby="ariaDescribedby"
									name="gender"
									value="Male"
									>Male</b-form-radio
								>
								<b-form-radio
									v-model="user.data.gender"
									:aria-describedby="ariaDescribedby"
									name="gender"
									value="Female"
									>Female</b-form-radio
								>
								<b-form-radio
									v-model="user.data.gender"
									:aria-describedby="ariaDescribedby"
									name="gender"
									value="Other"
									>Other</b-form-radio
								>
							</b-form-group>
							<label for="datepicker">Birthdate</label>
							<b-form-datepicker
								id="datepicker"
								v-model="user.data.DOB"
								class="mb-2"
							></b-form-datepicker>
						</div>
						<div
							v-if="currentModuleIndex == 2"
							class="p-4"
							v-bind:style="styleObject"
						>
							<h3 class="mb-3">Contact Infomation</h3>
							<b-form-group
								id="input-group-1"
								label="Email address:"
								label-for="input-1"
							>
								<b-form-input
									id="input-1"
									v-model="user.data.email"
									type="email"
									placeholder="Enter email"
									required
									disabled
								></b-form-input>
							</b-form-group>
							<b-form-group id="phone" label="Contact Number:" label-for="contact">
								<b-form-input
									id="contact"
									v-model="user.data.Phone"
									type="text"
									placeholder="Enter Phone Number"
								></b-form-input>
							</b-form-group>
							<b-form-group
								label-cols="12"
								label="Address Information"
								label-size="md"
								class="mb-0"
							>
								<b-form-group
									class="pl-5"
									label="Address Line1:"
									label-for="nested-address1"
									label-cols="12"
								>
									<b-form-input
										v-model="user.data.address1"
										id="nested-address1"
									></b-form-input>
								</b-form-group>
								<b-form-group
									class="pl-5"
									label="Address Line2:"
									label-for="nested-address2"
									label-cols="12"
								>
									<b-form-input
										v-model="user.data.address2"
										id="nested-address2"
									></b-form-input>
								</b-form-group>

								<b-form-group
									label="City:"
									label-for="nested-city"
									label-cols="12"
									class="pl-5"
								>
									<b-form-input v-model="user.data.city" id="nested-city"></b-form-input>
								</b-form-group>

								<b-form-group
									label="State:"
									label-for="nested-state"
									label-cols="12"
									class="pl-5"
								>
									<b-form-input
										v-model="user.data.state"
										id="nested-state"
									></b-form-input>
								</b-form-group>

								<b-form-group
									label="Country:"
									label-for="nested-country"
									label-cols="12"
									class="pl-5"
								>
									<b-form-input
										v-model="user.data.country"
										id="nested-country"
									></b-form-input>
								</b-form-group>
								<b-form-group
									label="Pin:"
									label-for="nested-pin"
									label-cols="12"
									class="pl-5"
								>
									<b-form-input v-model="user.data.pin" id="nested-pin"></b-form-input>
								</b-form-group>
							</b-form-group>
						</div>
						<div
							v-if="currentModuleIndex == 3"
							class="p-4"
							v-bind:style="styleObject"
						>
							<h3 class="mb-3">Professional Infomation</h3>
							<label for="rating">Stackoverflow rating</label>
    <b-form-rating id="rating"  variant="primary" v-model="user.data.rating" no-border size="sm"></b-form-rating>
<b-form-group id="orgName" label="Organization Name" label-for="orgName">
								<b-form-input
									id="orgName"
									v-model="user.data.orgName"
									type="text"
									placeholder="Enter organization name"
								></b-form-input>
							</b-form-group>

							<label for="tags-basic">Primary Skills</label>
    <b-form-tags input-id="tags-basic" v-model="user.data.primarySkills"></b-form-tags>
<br>
	<label for="role">Role</label>
	<b-form-select input-id="role" v-model="user.data.role" class="mb-3">
      <b-form-select-option :value="null">Please select an option</b-form-select-option>
      <b-form-select-option value="softEngginer">Software engineer</b-form-select-option>
      <b-form-select-option value="srSoftEngginer" >Sr. Software engineer</b-form-select-option>
      <b-form-select-option value="lead">Team Lead</b-form-select-option>
      <b-form-select-option value="manager" >Manager</b-form-select-option>
      <b-form-select-option value="other">Other</b-form-select-option>
     
    </b-form-select>
	<b-form-group label="Domain Experience" v-slot="{ ariaDescribedby }">
      <b-form-checkbox-group
        id="checkbox-group-2"
        v-model="user.data.domainExp"
        :aria-describedby="ariaDescribedby"
        name="flavour-2"
      >
        <b-form-checkbox value="banking">Banking</b-form-checkbox>
        <b-form-checkbox value="Health">Health</b-form-checkbox>
        <b-form-checkbox value="insurance">Insurance</b-form-checkbox>
        <b-form-checkbox value="other">Other</b-form-checkbox>
      </b-form-checkbox-group>
    </b-form-group>
	<label for="jobDesc">Job Description</label>
	<b-form-textarea input-id="jobDesc" id="textarea" v-model="user.data.jobDesc" placeholder="Enter something..." rows="3" max-rows="6" ></b-form-textarea>
    
						</div>
					</div>
					<div :style="{ borderTop: '1px solid rgba(192,192,192,0.6)' }">
						<b-row>
							<b-col cols="3" offset="6">
								<b-button
									variant="outline-primary"
									class="mt-3"
									block
									@click="onPageChange('back')"
									v-if="currentModuleIndex > 1"
									>Back</b-button
								>
								<b-button
									variant="outline-primary"
									v-else
									class="mt-3"
									block
									@click="$bvModal.hide('update-profile-model')"
									>Cancel</b-button
								>
							</b-col>
							<b-col cols="3">
								<b-button
									v-if="currentModuleIndex < 3"
									variant="primary"
									class="mt-3 "
									block
									@click="onPageChange('next')"
									>Next</b-button
								>
								<b-button
									v-else
									class="mt-3 "
									variant="primary"
									
									block
									@click="onPageChange('submit')"
									>Submit</b-button
								>
							</b-col>
						</b-row>
					</div>
				</b-form>
			</b-modal>
		</div>

		<!-- <b-container class="bv-example-row">
			<b-row>
				<b-col cols="3" style="{height:100px; width:100px}"
					><b-img :src="require('../assets/logo.png')"></b-img
				></b-col>
				<b-col cold="9">2 of 3</b-col>
			</b-row>
		</b-container> -->
	</div>
</template>
<script>
import { mapGetters } from "vuex";
import firebase from "firebase";
import Vue from "vue";
import VueAxios from "vue-axios";
import Axios from "axios";
import store from "../store";
Vue.use(VueAxios,Axios)
export default {
	name: "Profile",
	data() {
		return {
			currentModuleIndex: 1,
			styleObject: {
				height: "400px",

				"overflow-y": "scroll"
			}
		};
	},
	computed: {
		...mapGetters({
			user: "user"
		})
	},
	methods: {
		onPageChange(action) {
			switch (action) {
				case "back":
					this.currentModuleIndex--;
					break;
				case "next":
					this.currentModuleIndex++;
					break;
				case "submit":
				this.onSubmit()
					break;
			}
		},
		onSubmit() {
			this.user.data
			firebase.firestore().collection('users').doc(this.user.data.email).update(this.user.data).then(()=>{
			store.dispatch("updateUser", this.user.data);
                  this.$bvModal.hide('update-profile-model')
        
			}).catch(err=>{
				console.log(err)
			})

			
		}
	}
};
</script>
