<template>
 <div v-if="user" class="alert alert-success mt-4" role="alert">You are logged in! {{user.data.displayName}}</div>
 
</template>

<script>
import { mapGetters } from "vuex";
export default {
    name:"Welcome",
    computed: {    
    ...mapGetters({
      user: "user"
    })
  }
    
}
</script>